<ion-header>
  <ion-toolbar>
    <ion-title class="titulo-pag">Busqueda Emails</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="busqueda" (ionChange)="cambio()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of (results | async)" >
      <ion-card>
        <ion-card-header class="header-card">
          <h3>{{ item.id }} : {{ item.name }}</h3>
        </ion-card-header>
        <ion-card-content class="content-card">
          <h2>{{ item.email }} </h2>
        </ion-card-content>
      </ion-card>
      
    </ion-item>
    
  </ion-list>
  
</ion-content>
